/* -- STORIES CONTAINER -- */

.stories{
    grid-template-rows: calc(6.8rem * 3) calc(6.8rem * 2) calc(6.8rem * 1);
}

/* calc( [card.height + card.margin-top + card.margin-bottom] * [max number of cards in release]) */

/* -- RELEASE CONTAINER -- */

.release-mvp {
    grid-row-start: 1;
    grid-row-end: 2;
}

.release-release-1 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.release-release-2 {
    grid-row-start: 3;
    grid-row-end: 4;
}
