/* from: https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css */

#main {
  padding: 2.4rem 3.2rem;
  max-width: 800px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid #ccc;
  border-width: 0 1px;
}

#main .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

#main .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

#main .anchor:focus {
  outline: none;
}

#main h1 .octicon-link,
#main h2 .octicon-link,
#main h3 .octicon-link,
#main h4 .octicon-link,
#main h5 .octicon-link,
#main h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

#main h1:hover .anchor,
#main h2:hover .anchor,
#main h3:hover .anchor,
#main h4:hover .anchor,
#main h5:hover .anchor,
#main h6:hover .anchor {
  text-decoration: none;
}

#main h1:hover .anchor .octicon-link,
#main h2:hover .anchor .octicon-link,
#main h3:hover .anchor .octicon-link,
#main h4:hover .anchor .octicon-link,
#main h5:hover .anchor .octicon-link,
#main h6:hover .anchor .octicon-link {
  visibility: visible;
}

#main {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

#main .pl-c {
  color: #6a737d;
}

#main .pl-c1,
#main .pl-s .pl-v {
  color: #005cc5;
}

#main .pl-e,
#main .pl-en {
  color: #6f42c1;
}

#main .pl-s .pl-s1,
#main .pl-smi {
  color: #24292e;
}

#main .pl-ent {
  color: #22863a;
}

#main .pl-k {
  color: #d73a49;
}

#main .pl-pds,
#main .pl-s,
#main .pl-s .pl-pse .pl-s1,
#main .pl-sr,
#main .pl-sr .pl-cce,
#main .pl-sr .pl-sra,
#main .pl-sr .pl-sre {
  color: #032f62;
}

#main .pl-smw,
#main .pl-v {
  color: #e36209;
}

#main .pl-bu {
  color: #b31d28;
}

#main .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

#main .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

#main .pl-c2:before {
  content: "^M";
}

#main .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

#main .pl-ml {
  color: #735c0f;
}

#main .pl-mh,
#main .pl-mh .pl-en,
#main .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

#main .pl-mi {
  color: #24292e;
  font-style: italic;
}

#main .pl-mb {
  color: #24292e;
  font-weight: 700;
}

#main .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

#main .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

#main .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

#main .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

#main .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

#main .pl-ba {
  color: #586069;
}

#main .pl-sg {
  color: #959da5;
}

#main .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

#main details {
  display: block;
}

#main summary {
  display: list-item;
}

#main a {
  background-color: transparent;
}

#main a:active,
#main a:hover {
  outline-width: 0;
}

#main strong {
  font-weight: inherit;
  font-weight: bolder;
}

#main h1 {
  font-size: 2em;
  margin: .67em 0;
}

#main img {
  border-style: none;
}

#main code,
#main kbd,
#main pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

#main hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#main input {
  font: inherit;
  margin: 0;
}

#main input {
  overflow: visible;
}

#main [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

#main * {
  box-sizing: border-box;
}

#main input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#main a {
  color: #0366d6;
  text-decoration: none;
}

#main a:hover {
  text-decoration: underline;
}

#main strong {
  font-weight: 600;
}

#main hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

#main hr:before {
  content: "";
  display: table;
}

#main hr:after {
  clear: both;
  content: "";
  display: table;
}

#main table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main td,
#main th {
  padding: 0;
}

#main details summary {
  cursor: pointer;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  margin-bottom: 0;
  margin-top: 0;
}

#main h1 {
  font-size: 32px;
}

#main h1,
#main h2 {
  font-weight: 600;
}

#main h2 {
  font-size: 24px;
}

#main h3 {
  font-size: 20px;
}

#main h3,
#main h4 {
  font-weight: 600;
}

#main h4 {
  font-size: 16px;
}

#main h5 {
  font-size: 14px;
}

#main h5,
#main h6 {
  font-weight: 600;
}

#main h6 {
  font-size: 12px;
}

#main p {
  margin-bottom: 10px;
  margin-top: 0;
}

#main blockquote {
  margin: 0;
}

#main ol,
#main ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

#main ol ol,
#main ul ol {
  list-style-type: lower-roman;
}

#main ol ol ol,
#main ol ul ol,
#main ul ol ol,
#main ul ul ol {
  list-style-type: lower-alpha;
}

#main dd {
  margin-left: 0;
}

#main code,
#main pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

#main pre {
  margin-bottom: 0;
  margin-top: 0;
}

#main input::-webkit-inner-spin-button,
#main input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

#main .border {
  border: 1px solid #e1e4e8!important;
}

#main .border-0 {
  border: 0!important;
}

#main .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

#main .rounded-1 {
  border-radius: 3px!important;
}

#main .bg-white {
  background-color: #fff!important;
}

#main .bg-gray-light {
  background-color: #fafbfc!important;
}

#main .text-gray-light {
  color: #6a737d!important;
}

#main .mb-0 {
  margin-bottom: 0!important;
}

#main .my-2 {
  margin-bottom: 8px!important;
  margin-top: 8px!important;
}

#main .pl-0 {
  padding-left: 0!important;
}

#main .py-0 {
  padding-bottom: 0!important;
  padding-top: 0!important;
}

#main .pl-1 {
  padding-left: 4px!important;
}

#main .pl-2 {
  padding-left: 8px!important;
}

#main .py-2 {
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}

#main .pl-3,
#main .px-3 {
  padding-left: 16px!important;
}

#main .px-3 {
  padding-right: 16px!important;
}

#main .pl-4 {
  padding-left: 24px!important;
}

#main .pl-5 {
  padding-left: 32px!important;
}

#main .pl-6 {
  padding-left: 40px!important;
}

#main .f6 {
  font-size: 12px!important;
}

#main .lh-condensed {
  line-height: 1.25!important;
}

#main .text-bold {
  font-weight: 600!important;
}

#main:before {
  content: "";
  display: table;
}

#main:after {
  clear: both;
  content: "";
  display: table;
}

#main>:first-child {
  margin-top: 0!important;
}

#main>:last-child {
  margin-bottom: 0!important;
}

#main a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#main blockquote,
#main dl,
#main ol,
#main p,
#main pre,
#main table,
#main ul {
  margin-bottom: 16px;
  margin-top: 0;
}

#main hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

#main blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

#main blockquote>:first-child {
  margin-top: 0;
}

#main blockquote>:last-child {
  margin-bottom: 0;
}

#main kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

#main h1 {
  font-size: 2em;
}

#main h1,
#main h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

#main h2 {
  font-size: 1.5em;
}

#main h3 {
  font-size: 1.25em;
}

#main h4 {
  font-size: 1em;
}

#main h5 {
  font-size: .875em;
}

#main h6 {
  color: #6a737d;
  font-size: .85em;
}

#main ol,
#main ul {
  padding-left: 2em;
}

#main ol ol,
#main ol ul,
#main ul ol,
#main ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

#main li {
  word-wrap: break-all;
}

#main li>p {
  margin-top: 16px;
}

#main li+li {
  margin-top: .25em;
}

#main dl {
  padding: 0;
}

#main dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

#main dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

#main table {
  display: block;
  overflow: auto;
  width: 100%;
}

#main table th {
  font-weight: 600;
}

#main table td,
#main table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

#main table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

#main table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#main img {
  background-color: #fff;
  box-sizing: content-box;
  width: 100%;
  max-width: 480px;
  max-height: 480px;
  display: block;
  margin: 2rem auto;
}

#main img[align=right] {
  padding-left: 20px;
}

#main img[align=left] {
  padding-right: 20px;
}

#main code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

#main pre {
  word-wrap: normal;
}

#main pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

#main .highlight {
  margin-bottom: 16px;
}

#main .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#main .highlight pre,
#main pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

#main pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

#main .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 90%;
}

#main .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

#main .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

#main .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27,31,35,.3);
  cursor: pointer;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

#main .blob-num:hover {
  color: rgba(27,31,35,.6);
}

#main .blob-num:before {
  content: attr(data-line-number);
}

#main .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

#main .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}

#main .pl-token.active,
#main .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}

#main kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

#main :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

#main .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

#main .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

#main .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

#main .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

#main .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

#main .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

#main .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

#main .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

#main .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

#main .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

#main .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

#main .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

#main .task-list-item {
  list-style-type: none;
}

#main .task-list-item+.task-list-item {
  margin-top: 3px;
}

#main .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

#main hr {
  border-bottom-color: #eee;
}

#main .pl-0 {
  padding-left: 0!important;
}

#main .pl-1 {
  padding-left: 4px!important;
}

#main .pl-2 {
  padding-left: 8px!important;
}

#main .pl-3 {
  padding-left: 16px!important;
}

#main .pl-4 {
  padding-left: 24px!important;
}

#main .pl-5 {
  padding-left: 32px!important;
}

#main .pl-6 {
  padding-left: 40px!important;
}

#main .pl-7 {
  padding-left: 48px!important;
}

#main .pl-8 {
  padding-left: 64px!important;
}

#main .pl-9 {
  padding-left: 80px!important;
}

#main .pl-10 {
  padding-left: 96px!important;
}

#main .pl-11 {
  padding-left: 112px!important;
}

#main .pl-12 {
  padding-left: 128px!important;
}
